
.kpis-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    width: 100%;
  }
  .kpi {
    display: flex;
    box-shadow: 3px 6px 10px #888888;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }
  .kpi:hover .kpi-icon,
  .kpi:hover .kpi-value,
  .kpi:hover .kpi-value span {
    opacity: 1;
    transition: 1s;
  }
  .kpi:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  .kpi-body {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .kpi-icon {
    font-size: 30px;
    padding: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex: 1;
    opacity: 0.5;
    color: black;
  }
  .kpi-value {
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 40px;
    flex: 1;
    opacity: 0.5;
    color: black;
  }
  .kpi-description {
    border-top: 2px solid rgba(0, 0, 0, 0.205);
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
  .myrow {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    width: 100%;
  }
  .mycolumn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .danger {
    background: hsl(348, 100%, 61%);
  }
  .success {
    background: hsl(141, 71%, 48%);
  }
  .blue {
    background: hsl(204, 86%, 53%);
  }
  .warning {
    background: hsl(48, 100%, 67%);
  }
  .to-end {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
  .tableicon {
    padding: 5px;
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.5)!important;
    width: 30px
  }
  .mt {
      margin-top: 1em;
  }
  .card {
    display: flex;
    box-shadow: 3px 6px 10px #888888;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width:100%;
    margin: 10px;
  }
  .card:active{
      transform: scale(0.99)!important;
  }
  .card:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  .card-text {
    padding: 20px;
    color: black;
  }
  .card-icon {
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
  }
  .card.active {
      opacity: 1;
  }
  .card.inactive{
      opacity: 0.5;
  }
  .loader {
    display:none;
    color: #717171;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  .loader.active {
      display:block;
  }
  .customtable.hide {
      display: none;
  }
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}