@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/*
    Main Color: 
    rgb(252, 227, 5);
    #fce205;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #1f1f1f;
  padding: 0px 0px;
  position: fixed;
}

.sidebar-logo{
  margin: 0!important;
  height: 60px;
  width: 100%;
  background: url('./logo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 60px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #717171;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  text-align: left;
}

.wrapper .sidebar ul li a{
  color: #717171;
  display: block;
}

.wrapper .sidebar ul li i .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #717171;
}
    
.wrapper .sidebar ul li:hover i{
  color: #fff;
}

.wrapper .sidebar ul li:hover .router-link{
  color: #fff;
}

.dropdown-link {
    color: #717171;
}

.dropdown-trigger:hover {
    color: black;
}

.dropdown-li {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 1px;
}

.dropdown-li:last-child {
    border-bottom: none;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  background-image: url('./cimento_arthur.jpeg');
  color: #717171;
  border-bottom: 1px solid #d0d0d0;
}

.dropdown-menu .dropdown-content {
    background-image: url('./cimento_arthur.jpeg');
}

.dropdown-menu .dropdown-content {
    width: 120px;
    text-align: left;
}


.header {
  background-image: url('./cimento_arthur.jpeg');
  display: flex;
  justify-content: flex-end;
  height: 60px;
}
.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}